---
http_interactions:
- request:
    method: post
    uri: https://fcm.googleapis.com/fcm/send
    body:
      encoding: UTF-8
      string: '{"notification":{"body":"Around the survivors a perimeter create.","title":"Matisse"},"data":{"id":1,"type":"Bill","click_action":"FLUTTER_NOTIFICATION_CLICK"},"registration_ids":["dbSdyGZMens:APA91bH7iemzNbfRjhw6JZ29i9MdsnysZJmxLf_z3Nyw-D8UEHjqaWEsK0In7kcQMhf5rNeecxXZubyEg7JaL-FurFsDtdIzqAIN-NTcKfdSvmxOLzhmiIgcy-sRO_tTTgEv9z7-qs-a"],"priority":"high"}'
    headers:
      Authorization:
      - key=AAAAimsF8i4:APA91bEVoYjiN4vcJfNLi8tg5iF2_CEbiri1q-EmoeoyhkHKVFLZ7TXVUFd5XkNBu6np0eK78cX8WjOEXB-DJYxOpjdA98J4RqLK76oJXFLTnggrQaMbQZRQMGacB1MAGNeLUrp1cMu0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"multicast_id":2204288839680413401,"success":1,"failure":0,"canonical_ids":0,"results":[{"message_id":"0:1575905669754902%0765402e0765402e"}]}'
  recorded_at: Mon, 09 Dec 2019 15:34:29 GMT
recorded_with: VCR 5.0.0
